<!DOCTYPE html>
<html>
  <head>
    <title>Date-a-mate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <div class="main">
      <% if(user.id) {%>
        <% include partials/_logged_in.ejs %>
      <% } else {%>
        <a href="/auth/facebook">log in with facebook</a>
      <% } %>
    </div>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
