<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(user.id) {%>
      Hello <%= user.name %>
    <% } else {%>
      <a href="/auth/facebook">log in with facebook</a>
    <% } %>
  </body>
</html>
